* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0e6655;
}
.cc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
#canvas {
  background: #a9cce3;
}
.high-score {
  margin-bottom: 1rem;
  text-align: center;
}
.high-score h3 {
  color: coral;
  font-size: 2rem;
}
.high-score h3 span {
  color: orange;
}
.arrow {
  width: 150px;
  /* margin: 6rem 1rem 1rem 1rem; */
}
.audio {
  visibility: hidden;
}
.btn {
  margin-left: 1rem;
  color: #111;
  padding: 0.2rem;
  cursor: pointer;
}
footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
}
footer span {
  color: coral;
  font-weight: 600;
}
footer span span {
  color: orange;
  font-weight: 600;
}
