* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0e6655;
}

#canvas {
  background: #a9cce3;
  border-radius: 10px;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #9984d4;
}
.high-score {
  position: absolute;
  top: 2rem;
  width: 86%;
  left: 10%;
  text-align: center;
}
.reset {
  cursor: pointer;
  position: absolute;
  top: 90%;
  left: 14%;
  width: 80%;
  text-align: center;
}
.arrow {
  position: absolute;
  top: 30%;
  left: 5%;
  /* margin: 6rem 1rem 1rem 1rem; */
}
.audio {
  visibility: hidden;
}
.btn {
  margin-left: 1rem;
  color: #111;
  padding: 0.2rem;
  cursor: pointer;
}
